<section class="bg-white mt-32">
    <div class="relative bg-gray-700 bg-blend-multiply">
        <!-- Replace background image with an img tag -->
        <img src="{{ contact_section.background_image.url }}" 
             alt="Contact Background"
             class="w-full h-full object-cover absolute inset-0 z-0">

        <!-- Content container, with z-index to appear above the image -->
        <div id="contact"  class="relative px-4 lg:pt-24 pt-8 pb-72 lg:pb-80 mx-auto w-full text-center lg:px-6 bg-gray-900 bg-opacity-90">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">{{ contact_section.title }}</h2>
            <p class="mb-16 font-light text-gray-400 sm:text-xl">{{ contact_section.subtitle }}</p>
        </div> 
    </div>
    <div class="py-16 px-4 mx-auto -mt-96 max-w-screen-xl sm:py-24 lg:px-6 z-10 flex flex-col relative">
        {% if submitted %}
                    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 rounded-3xl shadow-2xl">
                        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#1B2741] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                        </div>
                        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#1B2741] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                        </div>
                        <div class="mx-auto max-w-7xl px-6 lg:px-8">
                          <div class="mx-auto max-w-2xl lg:mx-0">
                            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Anfrage gesendet</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-300">Vielen Dank für Ihre Anfrage! Wir werden uns so schnell wie möglich bei Ihnen melden.</p>
                          </div>
                        </div>
                      </div>
                {% else %}
        <form method="POST" class="grid grid-cols-1 gap-8 p-6 mx-auto mb-16 max-w-screen-md bg-white rounded-lg border border-gray-200 shadow-sm lg:mb-28 sm:grid-cols-2">
            {% csrf_token %}
            <div>
                <label for="id_prename" class="block mb-2 text-sm font-medium text-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500">Vorname</label>
                {{ form.prename }}
            </div>
            <div>
                <label for="id_name" class="block mb-2 text-sm font-medium text-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500">Name</label>
                {{ form.name }}
            </div>
            <div>
                <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-red-600 text-sm mt-1">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                <label for="id_phone" class="block mb-2 text-sm font-medium text-gray-900">Telefonnummer:</label>
                {{ form.phone }}
            </div>
            <div class="sm:col-span-2">
                <label for="id_message" class="block mb-2 text-sm font-medium text-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500">Nachricht</label>
                {{ form.message }}
                <p class="mt-4 text-sm text-gray-500">Mit dem Absenden dieses Formulars erklären Sie sich mit unserer <a href="{% url 'privacy_policy' %}" class="text-main underline">Datenschutzrichtlinie</a> einverstanden, in der erläutert wird, wie wir Ihre persönlichen Daten erfassen.</p>
            </div>
            {{ form.captcha }}
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-main sm:w-fit hover:bg-main">Nachricht senden</button>
        </form>
        {% endif %}
        <div class="space-y-8 text-center md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0 {% if submitted %}mt-16{% endif %}">
            <div>
                <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 bg-gray-100 rounded-lg lg:h-16 lg:w-16">
                    <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                </div>
                <p class="mb-2 text-xl font-bold">Email:</p>
                <p class="mb-3 text-gray-500">Schreiben Sie uns eine E-Mail, wenn Sie allgemeine Fragen haben.</p>
                <a href="mailto:anfrage@wenger-metalltechnik.ch" class="font-semibold text-main hover:underline">anfrage@wenger-metalltechnik.ch</a>
            </div>
            <div>
                <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 bg-gray-100 rounded-lg lg:h-16 lg:w-16">
                    <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path></svg>
                </div>
                <p class="mb-2 text-xl font-bold">Telefon:</p>
                <p class="mb-3 text-gray-500">Rufen Sie uns an und sprechen Sie direkt mit einem Mitglied unseres Teams. Wir helfen Ihnen immer gerne weiter.</p>
                <a href="tel:+41796685678" class="font-semibold hover:underline text-main">079 668 56 78</a>
            </div>
            <div>
                <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 bg-gray-100 rounded-lg lg:h-16 lg:w-16">
                    <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd"></path></svg>
                </div>
                <p class="mb-2 text-xl font-bold">Adresse:</p>
                <p class="text-gray-500">Wenger Metalltechnik</p>
                <p class="text-gray-500">Hauptstrasse 89</p>
                <p class="text-gray-500">4437 Waldenburg</p>
                <a href="https://maps.app.goo.gl/zQypogQ3iaE4ni9i7" target="_blank" class="inline-flex py-2 px-4 mt-4 text-sm font-medium text-center rounded-lg border text-main border-main hover:text-white hover:bg-main focus:ring-4 focus:outline-none focus:ring-main-light">Google Maps</a>
            </div>
        </div>
    </div>
</section>