{% extends 'page.html' %}

{% block main %}
<div class="bg-white">
    <main>
      <!-- Hero section -->
      <div class="bg-gray-900">
        <main>
          <div class="relative isolate">
            <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-800 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
              <defs>
                <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                  <path d="M.5 200V.5H200" fill="none" />
                </pattern>
              </defs>
              <svg x="50%" y="-1" class="overflow-visible fill-gray-600">
                <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
              </svg>
              <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
            </svg>
            <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
              <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#1B2741] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
            </div>
            <div class="overflow-hidden">
              <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
                  <div class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-200 sm:text-6xl">Wenger Metalltechnik</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-400 sm:max-w-md lg:max-w-none">Ihr Partner für hochwertige Metallverarbeitung und innovative Lösungen – von der Idee bis zum Endprodukt.</p>
                    <div class="mt-10 flex items-center gap-x-6">
                      <a href="#" class="rounded-md bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-main shadow-sm hover:bg-white">Kontakt</a>
                      <a href="#" class="text-sm font-semibold leading-6 text-gray-300 hover:text-white">Projekte <span aria-hidden="true">→</span></a>
                    </div>
                  </div>
                  <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
                    <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                      <div class="relative">
                        <img src="../../media/public/header.jpeg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg opacity-75">
                        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                      </div>
                    </div>
                    <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                      <div class="relative">
                        <img src="../../media/products/rippenrohr0.png" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg opacity-75">
                        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                      </div>
                      <div class="relative">
                        <img src="../../media/products/terrasse1.png" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg opacity-75">
                        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                      </div>
                    </div>
                    <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                      <div class="relative">
                        <img src="../../media/products/verteiler0.png" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg opacity-75">
                        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                      </div>
                      <div class="relative">
                        <img src="../../media/products/rippenrohr3.png" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg opacity-75">
                        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      
      {% include 'template_parts/feature.html' %}

      {% include 'template_parts/about.html' %}
  
      <section class="bg-white antialiased mt-24">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
            <div class="max-w-2xl mx-auto text-center">
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ project_section.title }}</h2>
                <p class="mt-4 text-base font-normal text-gray-500 sm:text-xl dark:text-gray-400">
                {{ project_section.subtitle }}
                </p>
            </div>
      
            <div class="mt-12 space-y-16 sm:mt-16">
            {% for product in products %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="flex flex-col lg:items-center lg:flex-row gap-y-8 sm:gap-y-12 lg:gap-x-16 xl:gap-x-24">
                        <div>
                            <img class="object-cover w-full rounded-lg shadow-lg"
                            src="{{ product.card_image.image.url }}" alt="">
                        </div>
                    
                        <div class="w-full space-y-6 lg:max-w-lg shrink-0 xl:max-w-2xl">
                            <div class="space-y-3">
                                <h3 class="text-3xl font-bold leading-tight text-gray-900 sm:text-4xl dark:text-white">
                                    {{ product.name }}
                                </h3>
                                <p class="text-base font-normal text-gray-500 sm:text-lg dark:text-gray-400">
                                    {{ product.description }}
                                </p>
                                <a href="{% url 'single_product' product.id %}" title=""
                                class="text-white bg-main justify-center hover:bg-primary-800 inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                role="button">
                                Details
                                <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                  fill="currentColor">
                                  <path fill-rule="evenodd"
                                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                                </svg>
                              </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="flex flex-col lg:items-center lg:flex-row gap-y-8 sm:gap-y-12 lg:gap-x-16 xl:gap-x-24">
                        <div class="lg:order-2">
                            <img class="object-cover w-full rounded-lg shadow-lg"
                            src="{{ product.card_image.image.url }}" alt="">
                        </div>
                    
                        <div class="w-full space-y-6 lg:max-w-lg shrink-0 xl:max-w-2xl lg:order-1">
                            <div class="space-y-3">
                                <h3 class="text-3xl font-bold leading-tight text-gray-900 sm:text-4xl dark:text-white">
                                    {{ product.name }}
                                </h3>
                                <p class="text-base font-normal text-gray-500 sm:text-lg dark:text-gray-400">
                                    {{ product.description }}
                                </p>
                                <a href="{% url 'single_product' product.id %}" title=""
                                class="text-white bg-main justify-center hover:bg-primary-800 inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                role="button">
                                Details
                                <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                  fill="currentColor">
                                  <path fill-rule="evenodd"
                                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                                </svg>
                              </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
      </section>



      {% include 'template_parts/contact.html' %}


    </main>
  

  </div>
  
{% endblock %}